<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="Home.css">
</head>
<body>
    <!-- Header Section -->
    <header class="header">
        <h1 class="centered-content">HomePage</h1>
    </header>

    <!-- Navigation Section -->
    <nav class="navcontainer">
        <div class="menuicn">
            <i class="fas fa-bars"></i>
        </div>
        <div class="auth-links">
            <!-- authentication links will go here -->
        </div>
    </nav>

    <!-- Box with login and register options -->
    <div class="login-register-box">
        <h2 class="centered-content">Already a user??</h2>
        <h2 class="centered-content">Get Started</h2>
        <form>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"><br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"><br><br>
            <button id="Login" class="btn">Login</button>
            <button id="Register" class="btn">Register</button>
        </form>
    </div>

    <script src="index.js"></script>
</body>
</html>