body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}

header h1 {
	margin: 0;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0 20px;
}

form {
  background-color: #fff;
  padding: 20px;
  width: 400px; /* added width property */
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
	display: block;
	margin-bottom: 5px;
}

input[type="email"], input[type="password"] {
	width: 100%;
	padding: 3px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
}

input[type="submit"] {
	background-color: #4CAF50;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #3e8e41;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
	clear: both;
}

footer a {
	color: #fff;
	text-decoration: none;
}

footer a:hover {
	color: #ccc;
}